@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
    --openSans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --fw400: 400;
    --fw600: 600;
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    max-width: 375px;
    margin: 0 auto;
    box-shadow: 0 3px 10px 2px rgba(30, 29, 30, 0.34);
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--violet);
}

.logo {
    width: 100%;
}

.logo img {
    width: 40%;
    flex-grow: 1;
    margin: 20px 30px;
}

.page {
    flex-grow: 1;
    text-align: center;
}

.illustration img {
    width: 80%;
    margin: 44px 0;
}

.block {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.block h1 {
    font-family: var(--poppins);
    padding: 0 30px;
    line-height: 1.5;
    font-weight: var(--fw600)
}

.block p {
    font-family: var(--openSans);
    font-weight: var(--fw400);
    line-height: 1.6;
    margin: 25px 25px;
}

.block p span {
    white-space: pre;
}

a.btn {
    width: 55%;
    padding: 10px 20px;
    margin-bottom: 50px;
    text-decoration: none;
    background-color: white;
    color: var(--violet);
    font-family: var(--poppins);
    font-size: 14px;
    line-height: 1.6;
    border-radius: 25px;
    box-shadow: 0 3px 10px 2px rgba(30, 29, 30, 0.34);
}

.socials {
    margin: 50px 0;
    text-align: center;
}

.social {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 2px;
}

.social i {
    padding: 9px;
    font-size: 16px;
    color: white;
}

.attribution {
    color: white;
    font-size: 11px;
    text-align: center;
}